<h1>User Dashboard</h1>

<%= form_for @text_shout do |form| %>
  <%= form.text_field :body, placeholder: 'Shout Here!' %>
  <%= form.submit %>
<% end %>

<%= form_for @photo_shout do |form| %>
  <%= form.file_field :image %>
  <%= form.submit %>
<% end %>

<%= render @shouts %>
